<html>

<head>
    <title>SAIBA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div id="container">   
        <h1>S A I B A</h1>
        <form action="/result" method="GET" name="busca">
            <input type="text" id="searchBar" name="search" placeholder="Sua busca" required>
            <!--<label for="dataType">Pesquisar por: </label>-->
            <select name="dataType" id="dataTypeSelect" required>
                <option selected value="" disabled>Selecione</option>
                <option value="'campi.cursos'">Curso</option>
                <option value="'campi.cidade'">Cidade</option>
                <option value="'estado'">Estado</option>
                <option value="'regiao'">Região</option>
                <option value="'instituicao'">Instituicao</option>
            </select>
            <input type="submit" id="botao" value="Buscar">
        </form>
    </div>
</body>

</html>