<html>
    <head>
        <title>Saiba</title>
    </head>

<body>
    <table>
        <tr>
            <th>Instituição</th>
            <th>Região</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Curso</th>
        </tr>
    </table>
</body>

</html>

    <% results.forEach(function(data){ %>
    <li>
        <%= data.campi[].cidade %>
    </li>
    <% }); %>


