html {
    height: 100%;
}

body {
    background-size: cover;
    background-position: center;
    font-family: Lato;
}

#container {
    margin: 180px auto;
    width: 500px;
}

h1 {
    font-size: 72px;
    text-align: center;
}

#botao {
    margin: 10px 205px;
}

#searchBar {
    background-color: #f7f7f7;
    font-size: 16px;
    width: 80%;
    height: 25px;
}

#dataType {
    height: 25px;
}